<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <meta charset="utf-8"/>
      <title>Notícias</title>
    </head>
  <body>

    <h1>Notícias</h1>

    <table>
      <tr>
        <td>Titulo</td>
        <td>Noticia</td>
      </tr>
      <% for(var i=0; i < noticias.rows.length; i++) { %>
        <tr>
          <td><%= noticias.rows[i].titulo %></td>
          <td><%= noticias.rows[i].noticia %></td>
        </tr>
      <% } %>
    </table>

  </body>
</html>